<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAROU_downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NAROU_downloader.Properties.Settings>
            <setting name="bridge_home" serializeAs="String">
                <value>http://192.168.0.10/physics/agent/narou_get.php?URL=</value>
            </setting>
            <setting name="bridge_school" serializeAs="String">
                <value>http://itoho.wjg.jp/physics/agent/narou_get.php?URL=</value>
            </setting>
        </NAROU_downloader.Properties.Settings>
    </userSettings>
</configuration>